<div class="row">
    <div class="col-md-5">
        <h4>
            <b>Tiếng Việt</b>
        </h4>
        <input name="vietnamese" #vietnamese="ngModel" [(ngModel)]="vm.vietnamese" type="text" class="full-width">
    </div>
    <div class="col-md-2">
        <input type="button" value="Translate" (click)="translate();">
    </div>
    <div class="col-md-5">
        <h4>
            <b>ZnG</b>
        </h4>
        <input name="zng" #zng="ngModel" [(ngModel)]="vm.zng" type="text" class="full-width">
    </div>
</div>